.login {
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
}
.login .fundo {
    display: flex;
    flex-direction: column;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login .fundo .titulo {
    background-color: rgb(173, 163, 10);
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    padding: 6px;
}

.login .fundo .titulo h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.login .fundo .conteudo {
    background-color: rgb(134, 105, 10);
    width: 100%;
    padding: 20px;
    margin: auto;
    border-radius: 0px 0px 30px 30px;
}

.login .fundo .conteudo img {
    height: 250px;
    padding: 20px;
    margin: auto;
}



.login .fundo .conteudo input {
    background-color: rgb(85, 63, 8);
    border: solid 2px rgb(85, 63, 8);
    color: white;
    width: 100%;
    margin: auto;
    margin: 10px 0px;
    box-shadow: 0 0 0px 1000px rgb(85, 63, 8) inset;
    -webkit-text-fill-color: white;
}

.login .fundo .conteudo input:active,
.login .fundo .conteudo input:focus,
.login .fundo .conteudo input:active,
.login .fundo .conteudo input:invalid,
.login .fundo .conteudo input:valid,
.login .fundo .conteudo input:disabled {
    outline: solid 2px black;
    transition: border-color 0.3s;
}

.login .fundo .conteudo input::placeholder { /* Modern browsers (Chrome, Firefox, Opera, Safari 10.1+) */
  color: rgb(255, 255, 255);
  opacity: 0.4;
}

/* .login .fundo .conteudo input:disabled {
    background-color: rgb(85, 63, 8);
    border: solid 2px rgb(85, 63, 8);
    outline: solid 1px black;
    transition: border-color 0.3s;

    box-shadow: 0 0 0px 1000px rgb(65, 43, 0) inset;

    -webkit-box-shadow: 0 0 0px 1000px rgb(65, 43, 0) inset;
    -webkit-text-fill-color: white;
} */


.login .fundo .conteudo .erro {
    background-color: rgb(129, 0, 0);
    color: white;
    width: 100%;
    padding: 5px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
}

.login .fundo button.entrar {
    margin: 10px;
    padding: 10px;
    background-color: rgb(211, 197, 8);
}
